@font-face {
    font-family: 'BananaGrotesk-Light';
    src: url('./fonts/BananaGrotesk-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'BananaGrotesk-Regular';
    src: url('./fonts/BananaGrotesk-Regular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'BananaGrotesk-Thin';
    src: url('./fonts/BananaGrotesk-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BananaGrotesk-Bold';
    src: url('./fonts/BananaGrotesk-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BananaGrotesk-Extrabold';
    src: url('./fonts/BananaGrotesk-Extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BananaGrotesk-Extralight';
    src: url('./fonts/BananaGrotesk-Extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BananaGrotesk-Semibold';
    src: url('./fonts/BananaGrotesk-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saans';
    src: url('./fonts/saans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu-Light';
    src: url('./fonts/apercu-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeue-Thin';
    src: url('./fonts/MaisonNeue-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeue-Light';
    src: url('./fonts/MaisonNeue-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonMono-Medium';
    src: url('./fonts/MaisonMono-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Whyte Inktrap";
    src: url("./fonts/Whyte\ Inktrap\ Regular.woff2") format("woff2");
    font-style: normal;
    /* font-weight: 400;
    font-display: swap; */
  }

  @font-face {
    font-family: 'MonumentGrotesk-Mono';
    src: url('./fonts/ABCMonumentGroteskMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    --mobile-padding-offset: 0.6;
    /* background-color: #92676c;
    --color-grad-1: #334669;
    --color-grad-2: #0e2284;  */
    background-color: (250, 250, 250);
}


body {
    margin: 0;
    /* overflow: hidden;
    display: flex;
    height: 100vh; */
    /* background-color: #FAFAFA; */
    /* background-size: 180px, 100%, 200%;
    background-attachment: fixed;
    background-image: url(./img/noise.png);
    background-blend-mode: lighten; */
    /* background-image: url(./img/noise.png), radial-gradient(ellipse at top, var(--color-grad-1), transparent), radial-gradient(ellipse at bottom, var(--color-grad-2), transparent); */
    height: 3000px;
    -webkit-font-smoothing: antialiased;
    background-attachment: fixed;
    background-image: url(./img/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .navigation {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;  
    display: grid;
    grid-template-columns: auto 1fr auto auto; /* Define columns for logo, spacer, home, about */
    padding-top: calc(1rem* var(--mobile-padding-offset));
    padding-left: calc(1rem* var(--mobile-padding-offset));
    padding-right: calc(1rem* var(--mobile-padding-offset));
    width: 100vw;
    max-height: 8.2vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .about.visible,  .logo-container.visible, .home.visible {
    transform: translateY(0%);
    opacity: 1;
  }

  a {
    font-family: 'MonumentGrotesk-Mono', Arial, sans-serif;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 1;
    white-space: nowrap; 
    display: inline-block;
    text-align: center; 
    width: 100%; 
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 1rem; */
    /* font-weight: 300; */
  }

 .logo-container, .about, .home {
    border-color: black;
    border-style: solid;
    border-radius: 999rem;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    transform: translateY(-200%);
    transition: .6s transform cubic-bezier(.55,0,.1,1);
    opacity: 0;
  }

  .logo-container {
    padding: .75rem;
    position: relative;
    font-size: 0;
    grid-column: 1;
    /* flex: 0 0 auto;  */
    /* transition: all .2s cubic-bezier(.42, 0, 1, 1); */
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0; 
    height: 0;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
  }

  /* Circle styling */
.about-circle, .home-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: black;
    width: 0;
    height: 0;
    transition: width 0.3s ease-out, height 0.3s ease-out;
    z-index: 0;
  }

  /* .logo-container:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: #000;
    border-radius: 999rem;
    transition: all .2s cubic-bezier(.17, .67, .83, .87);
  }

  .logo-container:hover:before {
    width: 100%;
    height: 100%;
  } */

  .star-logo {
    transform-origin: center;
    width: 30x;
    height: 30px;
    z-index: 1;
  }

  .star path{
    fill: #000000;
    transition: all .2s;
  }

  .logo-container:hover .star path{
    fill: #FAFAFA;
    transition: all .2s;
  }

.home, .about {
    display: inline-flex; /* Ensures consistent sizing */
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    padding: 1rem 3rem; /* Uniform padding */
    font-size: .95rem; 
    text-transform: uppercase; 
    white-space: nowrap; /* Prevents text wrapping */
    box-sizing: border-box; /* Ensures padding is included in size */
    cursor: pointer;
    height: 100%;
    min-height: 57px;
    letter-spacing: .01rem;
}


  .about {
    /* flex: 0 0 auto;  */
    /* font-size: 1.15rem;
    padding: 1rem 3rem; */
    grid-column: 4;
  }

  .home {
    /* flex: 0 0 auto; 
    margin-left: auto; */
    /* padding: 1rem 3rem; */
    grid-column: 3;
  }

/* Text container styling */
.text, .new-text {
    display: inline-block; /* Ensures both texts stay in a row */
    position: absolute; /* Stack texts on top of each other */
    top: 50%; /* Vertically center the text */
    left: 50%; /* Horizontally center the text */
    transform: translate(-50%, -50%); /* Adjust positioning to center text perfectly */
    overflow: hidden; /* Hide text when it's moved out */
    white-space: nowrap; /* Prevent wrapping */
    margin: 0;
    padding: 0;
  }
  
  .text span {
    display: inline-block; /* Ensure each letter stays inline */
    transform: translateY(0%);
    transition: transform 0.2s cubic-bezier(0, 0, 0.58, 1);
  }
  
  .new-text span {
    display: inline-block; /* Ensure each letter stays inline */
    transform: translateY(85%);
    transition: transform 0.2s cubic-bezier(0, 0, 0.58, 1);
  }

  .about:has(a.close-button) {
    background-color: #000;
  }
  
  .close-button .text span.active,
  .close-button .new-text span.active {
    color: #000;
  }

  .close-button .text,
  .close-button .new-text {
    color: #FAFAFA;
  }
  
  .about:has(a.close-button) .about-circle {
    background-color: #FAFAFA;
  }
  
  
  .text span.active {
    transform: translateY(-85%);
    color: #FAFAFA;
  }
  
  .new-text span.active {
    transform: translateY(0%);
    color: #FAFAFA;
  }
  .new-text {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease; /* Fade-in transition */
  }
  

  .container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40%;
    display: flex;
    transition: transform 2s ease-in-out;
  }
  
  #container1 {
    transform: translateX(0);
  }
  
  #container2 {
    transform: translateX(-100%);
  }
  
  .box {
    position: relative;
    height: 40%;
    overflow: hidden; 
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0)
    );
    z-index: 1;
    will-change: transform;
  }

  .gradient-overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(236, 168, 114, 0),
      rgba(236, 168, 114, 1.0), 
      rgba(236, 168, 114, 0)
    );
    z-index: 1;
    will-change: transform;
  }
  #casper-mattress-quiz {
    display: grid;
  }
 
.project-title {
  font-family: 'Whyte Inktrap', sans-serif;
  margin-top: calc(8.2vh + 2rem);
  font-size: 3rem;
  position: relative;
}




  
  