@font-face {
  font-family: 'MonumentGrotesk-Mono';
  src: url('./fonts/ABCMonumentGroteskMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ABC Monument Grotesk Mono Unlicensed Trial";
  src: url("./fonts/ABCMonumentGroteskMono-Regular.woff2")
      format("woff2"),
    url("./fonts/ABCMonumentGroteskMono-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist-Regular';
  src: url('./fonts/Geist-v1.4.01/webfonts/Geist-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}


*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Base styles */
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  position: relative;
  --mobile-padding-offset: 0.6;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #f5f5f5;
}

main {
  background-color: transparent;
  background-image: "";
  z-index: 2;
  position: relative;
  height: 100vh;
  transition: background-color 0.5s cubic-bezier(.55, 0, .1, 1), background-image 1s ease;
}

h1 {
  font-family: 'ABC Monument Grotesk Mono Unlicensed Trial', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #0f0f0f;
}

h3 {
  font-family: 'ABC Monument Grotesk Mono Unlicensed Trial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #0f0f0f;
  text-transform: uppercase;
}

.company-name {
  font-family: 'ABC Monument Grotesk Mono Unlicensed Trial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(21, 22, 24, .50);
}

p {
  font-family: 'Geist-Regular', sans-serif;
  font-size: 13px;
  color: #636363;
  opacity: 85%;
}

sup {
  font-family: 'ABC Monument Grotesk Mono Unlicensed Trial', sans-serif;
  font-size: 16px;
  position: relative;
  vertical-align: top;
  /* color: #0f0f0f; */
}


/* .locker__section .image--4::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(65px at center);
  transition: clip-path 1s ease, width 1s ease, height 1s ease;
  animation: expand-border 2s ease-out 1s forwards;
} */



/* .play-button {
  position: absolute;
  background-color: pink;
  top: 0;
  left: 0;
  transform: translate(-50%, 50%);
  height: 100%;
  width: 100%;
} */
/* 
.image-container {
  position: relative;
  overflow: hidden; 
  transition: border-radius 0.3s ease;
}


.image-container .image--4 {
  transition: border-radius 0.3s ease;
  mask-image: "";
  transition: mask-image 1s ease;
}

#audio {
  display: none; 
}



.locker__section .image--4.visible {
  -webkit-mask-image: radial-gradient(circle, transparent 30px, black 30px);
  mask-image: radial-gradient(circle, transparent 30px, black 30px); 
  transition: mask-image 1s ease;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.locker__section .image--4.visible {
  border-radius: 50%;
  transition:  border-radius .3s ease;
  animation: rotate-animation 5s linear infinite;
  animation-delay: 0.3s; 
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.locker__section .image--4 {
  transition: border-radius .5s ease;
} */


/* @keyframes expand-border {
  0% {
    clip-path: circle(65px at center);
  }
  100% {
    clip-path: circle(65px at center);
  }
} */

.main-container {
  display: grid;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* grid-template-rows: 1rem 
  minmax(175px, 1fr) 
  minmax(175px, 1fr)
  minmax(175px, 1fr)
  minmax(175px, 1fr); */
  grid-template-rows: 1rem 1fr 1fr 1fr 1fr;
  grid-template-columns: 1rem 1fr 1fr 1rem;
}


.locker {
  display: grid;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* grid-template-rows: 1rem 
  minmax(175px, 1fr) 
  minmax(175px, 1fr)
  minmax(175px, 1fr)
  minmax(175px, 1fr); */
  grid-template-rows: 1rem 1fr 1fr 1fr 1fr;
  grid-template-columns: 1rem 1fr 1fr 1rem;
} 

.locker__content {
  grid-row: 1 / span 5;
  grid-column: 2 / span 2;
  padding-left: 1rem;
  padding-right: .75rem;
  height: 100%;
}

.locker__container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1rem 1fr 1fr 1fr 1fr;
  z-index: 2;
  pointer-events: all;
  height: 100vh;
  /* overflow: auto; */
}

.locker__container h1 {
  color: #A2a2a2;
  opacity: 0.45;
  transition: color 0.5s cubic-bezier(.55, 0, .1, 1) opacity 0.5s ease-in-out;
  margin: 0;
  text-transform: uppercase;
}

#locker__sections-background {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat;
}


.locker__container h1.active {
  opacity: 1;
  color: #0f0f0f;
  transition: opacity 0.7s ease;
}

.locker__sections {
  height: 100%;
  overflow-y: scroll; /* Allow vertical scrolling */
  position: relative;
  width: 100%;
  grid-row: 1 / span 5;
  grid-column: 1 / span 4;
  /* z-index: 3; */
  pointer-events: all; /* Allow scrolling and interaction */
}

.locker__sections-inner {
  pointer-events: all;
  position: relative;
}

.header-one {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  pointer-events: all;
}

.header-two {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  pointer-events: all;
}

.locker__section {
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 1rem;
  pointer-events: all;
  overflow-x: hidden;
}

.locker__section img {
  max-height: 250px;
  max-width: 250px;
  border-radius: 12px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 30;
}

.locker__section img.visible {
  opacity: 1;
  transform: translateY(0);
}

.header {
  margin: 0 auto;
  width: 100%;
  padding-bottom: .6rem;
  cursor: pointer;
  position: relative;
  z-index: 20;
  pointer-events: all;
}

.description {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height .5s ease, opacity 0.8s ease-out;
  margin: 0;
}

.description.active {
  max-height: 200px;
  opacity: 1;
  transition: max-height .75s ease, opacity 0.8s ease;
}



/* 
.text.text--1, .text.text--2, .text.text--3, .text.text--4, .text.text--5 {
  pointer-events: all;
}

.text.text--1.active, .text.text--2.active, .text.text--3.active, .text--4.active, .text--5.active {
  pointer-events: all;
} */
/* 
@keyframes headerOneSlideUp {
  0% {
    transform: translateY(100%); 
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}

@keyframes headerTwoSlideDown {
  0% {
    transform: translateY(-100%); 
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
} */


.navigation {
align-items: center;
width: 100vw;
/* max-height: 8.2vh; */
position: fixed;
bottom: 0;
left: 0;
display: flex;
align-items: center;
justify-content: space-between;
padding-bottom: calc(1rem * 0.6);
padding-left: calc(1rem * 0.6);
padding-right: calc(1rem * 0.6);
z-index: 100;
}

.right-menu {
display: flex;
align-items: center;
margin-left: auto;
}

a {
font-family: 'ABC Monument Grotesk Mono Unlicensed Trial', Arial, sans-serif;
text-decoration: none;
color: #a2a2a2;
position: relative;
z-index: 1;
white-space: nowrap; 
display: inline-block;
text-align: center; 
width: 100%; 
cursor: pointer;
margin: 0;
padding: 0;
box-sizing: border-box;
}

.button {
text-transform: uppercase;
letter-spacing: .1px;
color: rgba(99, 99, 99, .7);
font-size: 14px;
/* #9a9ba5 */
}

.logo-container  {
border-color: #a2a2a240;
/* background-color: rgba(255, 255, 255, .65); */
background-color: #f9f9f925;
border-style: solid;
border-radius: 999rem;
border-width: 1px;
display: flex;
justify-content: center;
align-items: center;
/* overflow: hidden; */
position: relative;
text-align: center;
cursor: pointer;
transform: translateY(200%);
transition: transform 1s cubic-bezier(.55, 0, .1, 1);
opacity: 0;
/* box-shadow: 0px 4px 20px 0px rgba(37, 40, 43, .1); */
/* backdrop-filter: blur(4px); */
backdrop-filter: blur(24px) saturate(140%);
}

.hamburger {
display: flex;
justify-content: center;
align-items: center;
height: 50px; /* Match the size of .logo-container */
width: 50px; /* Match the size of .logo-container */
/* background-color: rgba(255, 255, 255, .65);  */
border: 1px solid #a2a2a240; /* Border like .logo-container */
border-radius: 999rem; /* Rounded like .logo-container */
/* box-shadow: 0px 4px 20px 0px rgba(37, 40, 43, .1);  */
position: relative; /* Position relative for alignment */
cursor: pointer; /* Pointer cursor for interactivity */
transition: transform 1s cubic-bezier(.55, 0, .1, 1), opacity 0.6s; /* Smooth transitions */
transform: translateY(200%);
opacity: 0;
backdrop-filter: blur(24px) saturate(140%);
}


.about, .work {
display: flex;
justify-content: center;
align-items: center;
padding: 13px;
background-color: #f9f9f925;
/* background-color:rgba(255, 255, 255, .65); */
border: 1px solid #a2a2a260; /* Border like .logo-container */
border-radius: 999rem; /* Rounded like .logo-container */
/* box-shadow: 0px 4px 20px 0px rgba(37, 40, 43, .1);  */
position: relative; /* Position relative for alignment */
cursor: pointer; /* Pointer cursor for interactivity */
opacity: 0;
transition: transform 0.6s cubic-bezier(.55, 0, .1, 1), opacity 0.6s; /* Smooth transitions */
transform: translateY(200%);
backdrop-filter: blur(10px);
}


.about:not(.visible) {
transform: translateY(200%); /* Move out of view */
opacity: 0; /* Make invisible */
transition-delay: .6s; /* Remove delay when going out of view */
}


.star-logo {
transform-origin: center;
width: 50px;
height: 50px;
z-index: 1;
display: flex;
justify-content: center;
align-items: center;
font-size: 64px;
transition: all .2s;
position: relative;
}

.star path{
fill: #a2a2a2;
transition: all .2s;
display: block;
margin: auto;
}


.logo-container:hover .star path{
fill: #fff;
transition: all .2s;
}

.circle {
position: absolute;
top: 50%;
left: 50%;
width: 0; 
height: 0;
background-color: #a4a6ae;
border-radius: 50%;
transform: translate(-50%, -50%);
pointer-events: none; 
transform-origin: center;
}

.logo-container.visible, .hamburger.visible, .about.visible {
transform: translateY(0%);
opacity: 1;
}

.work.visible {
transform: translateY(0%);
opacity: 1;
transition-delay: 0.5s;
}



.hamburger a.main-nav-toggle {
display: flex; /* Flex for centering */
justify-content: center;
align-items: center;
width: 18px;
height: 10px;
position: relative;
background: none; /* No background for the inner toggle */
border: none; /* Remove default anchor border */
text-decoration: none; /* Remove underline */
}

.hamburger a.main-nav-toggle:after,
.hamburger a.main-nav-toggle:before {
content: '';
position: absolute;
top: 0;
height: 2px; /* Thickness of the hamburger lines */
width: 100%;
background-color: #a2a2a2; /* Same color as the initial .star path */
transition: all 0.3s ease-out;
}

.hamburger a.main-nav-toggle:after {
top: 100%; /* Position for bottom line */
}

.hamburger a.main-nav-toggle i {
display: block;
height: 2px; /* Thickness of the middle line */
background-color: #a2a2a2; /* Same color as the initial .star path */
width: 100%;
position: absolute;
top: 0;
/* transform: translateY(-50%); */
transition: all 0.1s ease-out;
}

.hamburger a.main-nav-toggle.active-menu:after {
transform: rotate(-45deg);
transform-origin: center;
top: 50%;
}

.hamburger a.main-nav-toggle.active-menu:before {
transform: rotate(45deg);
transform-origin: center;
top: 50%;
}

.hamburger a.main-nav-toggle.active-menu i {
opacity: 0; /* Hide the middle line */
}
/* 
.line {
z-index: 1;
position: fixed;
top: 0;
bottom: 0;
width: 1px; 
height: 0%;
animation: grow-vertical .8s ease-in forwards;
background:  linear-gradient(to top, transparent, rgba(0,0,0,.15) 100%),
linear-gradient(to top, rgba(0,0,0,.03) 100%, transparent);
}
.line-left {
left: 1rem; =
}
.line-right {
right: 1rem; 
animation-delay: .6s; 
}
.line-center {
left: 50%; 
animation-delay: 0.3s;
}

.hr-line {
z-index: 1;
position: fixed;
top: 0;
bottom: 0;
width: 0%; 
height: 1px;
animation: grow-horizontal .8s ease-in forwards;
background:  linear-gradient(to left, transparent, rgba(0,0,0,.08) 100%),
linear-gradient(to left, rgba(0,0,0,.08) 100%, transparent);
}

.line-top {
top: 1rem;
}

.line-top-center {
 top: 30%;
 animation-delay: 0.2s;
}

.line-bottom-center {
top: 55%;
animation-delay: 0.4s;
}

.line-bottom {
top: 80%;
animation-delay: 0.6s;
}

@keyframes grow-vertical {
from {
    height: 0%;
}
to {
    height: 100%;
}
}

@keyframes grow-horizontal {
from {
    width: 0%;
}
to {
    width: 100%;
}
} */

.grid {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* grid-template-rows: 1rem 
  minmax(175px, 1fr) 
  minmax(175px, 1fr)
  minmax(175px, 1fr)
  minmax(175px, 1fr); */
  grid-template-rows: 1rem 1fr 1fr 1fr 1fr;
  grid-template-columns: 1rem 1fr 1fr 1rem;
  overflow-y: hidden; 
  overflow-x: hidden; 
}
.line {
  z-index: 1;
}
.vertical-line {
width: 1px;
height: 100%;
background: linear-gradient(to top, transparent, rgba(15, 15, 15, 0.08) 100%), linear-gradient(to top, rgba(15, 15, 15, 0.03) 100%, transparent);
animation: grow-vertical .9s cubic-bezier(.55, 0, .1, 1) forwards;
}
.line-left {
grid-row: 1 / span 5;
grid-column: 2;
}
.line-right {
grid-row: 1 / span 5;
grid-column: 4;
animation-delay: 0.6s;
}
.line-center {
grid-row: 1 / span 5;
grid-column: 3;
animation-delay: 0.4s;
}
.line-top {
grid-row: 2;
grid-column: 1 / span 4;
}

.horizontal-line {
height: 1px;
width: 100%;
background: linear-gradient(to left, transparent, rgba(15, 15, 15, 0.08) 100%), linear-gradient(to left, rgba(15, 15, 15, 0.08) 100%, transparent);
animation: grow-horizontal .9s cubic-bezier(.55, 0, .1, 1) forwards;
}
.line-top {
grid-row: 2;
grid-column: 1 / span 4;
}
.line-top-center {
grid-row: 3;
grid-column: 1 / span 4;
animation-delay: 0.3s;
}

.line-bottom-center {
grid-row: 4;
grid-column: 1 / span 4;
animation-delay: 0.5s;
}
.line-bottom {
grid-row: 5;
grid-column: 1 / span 4;
animation-delay: 0.7s;
}
@keyframes grow-vertical {
from {
height: 0%;
}
to {
height: 100%;
}
}

@keyframes grow-horizontal {
from {
width: 0%;
}
to {
width: 100%;
}
}

footer {
    display: grid;
  /* grid-template-columns: repeat(1fr); */
  grid-template-rows: 1rem minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) 1rem;
  grid-template-columns: 1rem 1fr 1fr 1rem;
  /* height: 45vh; */
  background-color: transparent;
  background-image: none;
  position: relative;
  z-index: 20
}

.container {
  width: 100%;
}
  
.container ul {
  margin-bottom: 10px;
}

.container ul:last-of-type {
  margin-bottom: 0; 
}


.footer-header, .credits, .songArtist {
    flex: 0 0 100%;
   font-family: 'ABC Monument Grotesk Mono Unlicensed Trial', sans-serif;
  letter-spacing: .3px;
  font-size: 12px;
  text-transform: uppercase;
  color: #636363;
  text-wrap-mode: wrap;
}

.footer-header {
  margin-bottom: 1rem;
}

.songArtist {
  margin-bottom: 22px;
}

.songArtist {
  flex: 0 0 100%;
  margin-bottom: 22px;
 font-family: 'ABC Monument Grotesk Mono Unlicensed Trial', sans-serif;
font-size: 13px;
text-transform: uppercase;
color: #636363;
text-wrap-mode: wrap;
}

.songName {
  flex: 0 0 100%;
  margin-bottom: 22px;
 font-family: 'ABC Monument Grotesk Mono Unlicensed Trial', sans-serif;
font-size: 13px;
text-transform: uppercase;
color: #0f0f0f;
text-wrap-mode: wrap;
}


ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 100%;
  padding-left: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 0;
  padding: 0; 
}

a {
  text-decoration: none;
  color: initial;
}

li a {
  display: grid;
  height: 15px;
  grid-template-rows: 15px;
  align-items: center;
  justify-content: center;
   font-family: 'Geist-Regular', sans-serif;
  font-size: 14px;
  letter-spacing: .05px;
  color: rgba(21, 22, 24, .85);
  overflow: hidden; 
}

li a > .arrow-item, li a > .arrow-item-active {
  padding-left: 2px;
}
 
.menu-item {
  animation: .5s forwards move-down-initialmenu-noHover;
}
.menu-item-active {
  animation: .5s forwards move-down-activemenu-noHover;
}
ul:hover .menu-item {
  animation: .5s forwards move-up-initialmenu-onHover;
}
ul:hover .menu-item-active {
  animation: .5s forwards move-up-activemenu-onHover;
}



.arrow-item {
  animation: .5s forwards arrow-move-down-initialmenu-noHover;
}
.arrow-item-active {
  animation: .5s forwards arrow-move-down-activemenu-noHover;
  transform: translate(-100%, 100%);
}
ul:hover .arrow-item {
  animation: .5s forwards arrow-move-up-initialmenu-onHover;
}
ul:hover .arrow-item-active {
  animation: .5s forwards arrow-move-up-activemenu-onHover;
}

@keyframes move-up-initialmenu-onHover {
  100% {
    transform: translateY(-100%);
  }
}
@keyframes move-up-activemenu-onHover {
  100% {
    transform: translateY(-100%);
  }
}
@keyframes move-down-initialmenu-noHover {
  0% {
    transform: translateY(-100%);
  }
}
@keyframes move-down-activemenu-noHover {
  0% {
    transform: translateY(-100%);
  }
}

@keyframes arrow-move-up-initialmenu-onHover {
  100% {
    transform: translate(80%, -80%);
  }
}
@keyframes arrow-move-up-activemenu-onHover {
  100% {
    transform: translate(2%, -90%);
  }
}
@keyframes arrow-move-down-initialmenu-noHover {
  0% {
    transform: translate(80%, -80%);
  }
}
@keyframes arrow-move-down-activemenu-noHover {
  0% {
    transform: translate(2%, -90%);
  }
  }


#songCover {
border-radius: 4px;
margin-right: 8px;
}

#songContainer {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
width: 100%;
margin-bottom: 6px;
}

.last-played {
display: flex;
flex-direction: row;
align-items: center;
}

.last-played p, .last-played span {
color: #A2a2a2;
}

.last-played-circle {
  display: grid;
  place-items: center;
  margin-right: 4px;
  }

  .last-played-outer-circle, .last-played-inner-circle {
    grid-row: 1;
    grid-column: 1;
  }

.last-played-outer-circle {
background-color: rgba(162, 162, 162, .2);
border-radius: 100px;
height: 11px;
width: 11px;
z-index: 2;
animation: grow-circle 1.75s infinite;
}

@keyframes grow-circle {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
  }

.last-played-inner-circle {
background-color: #A2a2a2;
height: 5px;
width: 5px;
border-radius: 100px;
z-index: 3;
}
/* .footer-information {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
margin-bottom: 60px;
} */

.container-1, .container-2, .spotify-last-played {
  margin-left: 1rem;
}

.container-1 {
  grid-column: 2;
  grid-row: 1;
}

.container-2 {
  grid-column: 3;
  grid-row: 1;
}

.ul-spacer {
  margin-bottom: 8px;
  max-width: fit-content;
}

.spotify-last-played {
/* margin-bottom: 48px; */
grid-row: 3;
grid-column: 2 / span 2;
}

.credits {
border-top: 1px solid #E7E7E7;
grid-column: 2 / span 2;
grid-row: 4;
margin-left: 1rem;
margin-right: 1rem;
}

.credits-info {
margin-top: 16px;
}


footer::after {
  content: '';
  position: absolute;
  bottom: 0px; 
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 5%, rgb(249, 249, 249) 40%);
  z-index: -1; /* Position the background behind the footer content */
}



/* .footer-background {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  height: 45%;
  width: 100%;
background:  linear-gradient(to bottom, transparent 5%, rgb(249, 249, 249) 40%);
} */

.project-wrapper {
  display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-flow: row wrap;
}

.project-grid {
display: grid;
grid-template-columns: 1fr auto;
grid-template-rows: auto auto;
gap: 8px;
}

.project-left {
display: flex;
flex-direction: column;
grid-column: 1 / 2;
grid-row: 1 / 3;
}

.project-title {
margin: 0;
text-align: left;
display: flex;
}

.company-name {
margin-left: 9px;
}

.project-description {
text-align: left;
margin-top: 2px;
}

.project-description p {
margin: 0;
line-height: 1.4;
}

.project-right {
grid-column: 2 / 3; 
grid-row: 1 / 3;
display: flex;
justify-content: center; 
align-items: flex-start; 
}

.project-button {
border: 1px solid #e8e8e8;
width: 32px;
height: 32px;
border-radius: 100px;
display: flex;
justify-content: center;
align-items: center;
transition: all ease .5s;
}


.project-button:hover {
background-color: #f4f4f4;
border: 1px solid #dedede;
transition: all ease .5s;
cursor: pointer;
}

.project-one {
height: 384px;
width: 332px;
border: 1px solid #E8E8E8;
border-radius: 10px;
background-color: #FFF;
display: flex;
padding: 24px 18px 0px 18px;
transition: all cubic-bezier(.4,0,.2,1) .5s;
margin-bottom: 1rem;
/* box-shadow: 0px 4px 20px 0px rgba(37, 40, 43, .15); */
}


.project-one:hover {
box-shadow: 0px 4px 20px 0px rgba(37, 40, 43, .4);
transition: all cubic-bezier(.4,0,.2,1) .5s;
cursor: pointer;
}

.project-image {
grid-column: 1 / 3;
grid-row: 3 / 3;
display: flex;
justify-content: center;
align-items: flex-end;
}

.project-image img {
max-width: 100%; 
height: auto;
}


.projects-section {
/* display: flex;
justify-content: center;
align-items: center;
z-index: 2; */
/* margin-bottom: 2rem; */
position: relative;
z-index: 20;
}

.project-button:hover .project-arrow path {
fill: #525252;
transition: all ease .5s;
}

.project-arrow path {
fill: #636363;
transition: all ease .5s;
}

.arrow-hover {
background-color: black;
color: white;
padding: 4px;
border-radius: 4px;
display: none;
margin-top: 36px;
opacity: 0;
transform: scale(0);
transition: all ease .5s;
font-family: 'Geist-Regular', sans-serif;
font-size: 14px;
color: #f4f4f4;
}

.project-button:hover + .arrow-hover {
display: block;
position: absolute;
opacity: 1;
transform: scale(1);
transition: all ease .5s;
}

.locker__content {
  transition: transform .5s ease, opacity .5s ease; 
  transform-origin: center; 
}

/* .locker__section--5 {
  margin-bottom: 100px;
} */
